NodeRed/WateringSystem
[{"id":"c9855271.c0bda","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"x":138,"y":146,"wires":[["aa42b17f.1507f"]]},{"id":"dc984ce6.6e74","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":138,"y":234,"wires":[["aa42b17f.1507f"]]},{"id":"aa42b17f.1507f","type":"mqtt out","z":"3d9174f7.78d95c","name":"Yard Sprinklers","topic":"sprinklers/cmnd/POWER3","qos":"0","retain":"","broker":"d8d065d3.060c98","x":319,"y":198,"wires":[]},{"id":"753521f8.dde6b","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"x":135,"y":335,"wires":[["a4487e83.f676e"]]},{"id":"90b0722a.e8f2","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":404,"wires":[["a4487e83.f676e"]]},{"id":"a4487e83.f676e","type":"mqtt out","z":"3d9174f7.78d95c","name":"Garden Sprinklers","topic":"sprinklers/cmnd/POWER4","qos":"0","retain":"","broker":"d8d065d3.060c98","x":345.99999618530273,"y":372.99999141693115,"wires":[]},{"id":"7944a89c.003818","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"x":685.9999666213989,"y":203.99999904632568,"wires":[["badaac84.560f6"]]},{"id":"e15eac78.c2cb4","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":684.9999666213989,"y":247.99999904632568,"wires":[["badaac84.560f6"]]},{"id":"badaac84.560f6","type":"mqtt out","z":"3d9174f7.78d95c","name":"Main Water Supply","topic":"sprinklers/cmnd/POWER2","qos":"0","retain":"","broker":"d8d065d3.060c98","x":861.9999666213989,"y":224.99999904632568,"wires":[]},{"id":"5309fab.1182e04","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"x":683.9999666213989,"y":291.9999990463257,"wires":[["d61349a3.cb4dd8"]]},{"id":"2f3657b.2f1fda8","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Off","payloadType":"str","repeat":"","crontab":"","once":false,"x":684.9999666213989,"y":334.9999990463257,"wires":[["d61349a3.cb4dd8"]]},{"id":"d61349a3.cb4dd8","type":"mqtt out","z":"3d9174f7.78d95c","name":"Pump","topic":"sprinklers/cmnd/POWER1","qos":"0","retain":"","broker":"d8d065d3.060c98","x":826.9999666213989,"y":310.9999990463257,"wires":[]},{"id":"60134136.f9888","type":"mqtt out","z":"3d9174f7.78d95c","name":"Watering ON OFF","topic":"","qos":"0","retain":"","broker":"d8d065d3.060c98","x":636,"y":1226,"wires":[]},{"id":"cf10ca01.8207c8","type":"comment","z":"3d9174f7.78d95c","name":"Watering Valves","info":"","x":147,"y":84,"wires":[]},{"id":"21dcc00f.2629c","type":"comment","z":"3d9174f7.78d95c","name":"Automaticaly turn on Main Valve","info":"","x":215.00001525878906,"y":464.9999893307686,"wires":[]},{"id":"f14c723f.0ed24","type":"comment","z":"3d9174f7.78d95c","name":"Supply Valves","info":"","x":764.9999666213989,"y":152.99999904632568,"wires":[]},{"id":"730bc947.c31a38","type":"comment","z":"3d9174f7.78d95c","name":"########################################## Automaticaly turn on watering system  ##########################################                               ","info":"this flow is used when the watering system button is pressed \nin Smart things, it will run the entire system for 15 minuests ","x":670,"y":956.9999980926514,"wires":[]},{"id":"7b5c5f2a.3391c","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":1204.9999980926514,"wires":[["16265f74.b1b831"]]},{"id":"16265f74.b1b831","type":"bigtimer","z":"3d9174f7.78d95c","outtopic":"sprinklers/cmnd/POWER3","outpayload1":"ON","outpayload2":"OFF","name":"Watter Yard","comment":"Watering system Timmer","lat":"-37.562160","lon":"143.850250","starttime":"1410","endtime":"10015","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":"","endoff2":"","offs":"0","outtext1":"The Yard Sprinklers where turned on","outtext2":"The Yard Sprinklers where turned off","timeout":1440,"sun":true,"mon":false,"tue":true,"wed":false,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":false,"x":281,"y":1239.4999980926514,"wires":[["60134136.f9888","7b5763fd.512f8c"],["7b5763fd.512f8c"],["637e82d5.77c42c"]]},{"id":"9a5a9dee.a6fb7","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":99,"y":1245.9999980926514,"wires":[["16265f74.b1b831"]]},{"id":"983bb228.f631a","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":99,"y":1290.9999980926514,"wires":[["16265f74.b1b831"]]},{"id":"8f242cb0.b4f17","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"On","payloadType":"str","repeat":"","crontab":"","once":false,"x":565,"y":1309,"wires":[["f1f40e30.ee60d"]]},{"id":"f1f40e30.ee60d","type":"bigtimer","z":"3d9174f7.78d95c","outtopic":"sprinklers/cmnd/POWER3","outpayload1":"ON","outpayload2":"OFF","name":"Fill Chook Water","comment":"Fill Chook Water","lat":"-37.562160","lon":"143.850250","starttime":"5000","endtime":"10005","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":"","endoff2":"","offs":"0","outtext1":"The yard Sprinklers where turned on to fill the chook water bowl ","outtext2":"The chook water bowl is full","timeout":1440,"sun":false,"mon":false,"tue":false,"wed":false,"thu":false,"fri":false,"sat":false,"jan":true,"feb":true,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":true,"x":785,"y":1356.5,"wires":[["60134136.f9888"],[],["637e82d5.77c42c"]]},{"id":"bd81c986.e626d8","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"x":564,"y":1350,"wires":[["f1f40e30.ee60d"]]},{"id":"6ca0ce42.3dbef","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":564,"y":1395,"wires":[["f1f40e30.ee60d"]]},{"id":"f77526e3.c01838","type":"file","z":"3d9174f7.78d95c","name":"log sensor data","filename":"/home/pi/logs/Watering.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":889,"y":1464,"wires":[[]]},{"id":"724444e4.0e946c","type":"json","z":"3d9174f7.78d95c","name":"","property":"payload","action":"","pretty":false,"x":735,"y":1465,"wires":[["f77526e3.c01838"]]},{"id":"7b5763fd.512f8c","type":"debug","z":"3d9174f7.78d95c","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","x":495,"y":1168,"wires":[]},{"id":"637e82d5.77c42c","type":"function","z":"3d9174f7.78d95c","name":"All data","func":"\nvar topic=msg.topic;\nvar d = new Date();\nvar t = d.getTime();\npayload={\"time\":t,\"payload\":msg.payload,\"topic\":msg.topic};\n//msg.payload=JSON.stringify(payload);\n//msg.filename=\"/home/pi/logs/data.log\";\nmsg.payload=payload;\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":1464,"wires":[["724444e4.0e946c"]]},{"id":"eca26680.88d648","type":"or-gate","z":"3d9174f7.78d95c","name":"","rules":[{"t":"eq","v":"on","vt":"str","propertyType":"msg","property":"payload","topic":"switch.garden_2"},{"t":"eq","v":"on","vt":"str","propertyType":"msg","property":"payload","topic":"switch.yard_2"}],"outputTopic":"sprinklers/cmnd/watering","gateType":"or","emitOnlyIfTrue":false,"x":306.64454650878906,"y":555.99609375,"wires":[["ab8eda99.c5a5c8"]]},{"id":"5c12c8e1.88d958","type":"switch","z":"3d9174f7.78d95c","name":"System","property":"system","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1033.39453125,"y":614.90234375,"wires":[["2ca4f03.7d55c1"],["8c15a3e4.6872e","aa269258.f3afc"]]},{"id":"e1f21bfe.7462c8","type":"api-call-service","z":"3d9174f7.78d95c","name":"Pump On","server":"cf3d678c.d4fc98","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.pump_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1415.01953125,"y":464.0039367675781,"wires":[["7d55aa7f.1393f4"]]},{"id":"6d921c48.92b974","type":"debug","z":"3d9174f7.78d95c","name":"pump off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1652.4063720703125,"y":570.5234985351562,"wires":[]},{"id":"9e8c02d1.25695","type":"api-call-service","z":"3d9174f7.78d95c","name":"Main On","server":"cf3d678c.d4fc98","version":1,"service_domain":"switch","service":"turn_on","entityId":"switch.main_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1412.0196533203125,"y":570.0039672851562,"wires":[["6d921c48.92b974"]]},{"id":"7077e134.16ee3","type":"poll-state","z":"3d9174f7.78d95c","name":"tank status","server":"cf3d678c.d4fc98","version":1,"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"switch.pump_5","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":466.3984375,"y":495.890625,"wires":[["9c39f6a6.34e678","2b06d0f6.c23b"]]},{"id":"9c39f6a6.34e678","type":"and-gate","z":"3d9174f7.78d95c","name":"Pump","rules":[{"t":"true","propertyType":"msg","property":"bool","topic":"sprinklers/cmnd/watering"},{"t":"eq","v":"off","vt":"str","propertyType":"msg","property":"payload","topic":"switch.pump_5"}],"outputTopic":"sprinklers/cmnd/main","gateType":"and","emitOnlyIfTrue":false,"x":682.01953125,"y":520.00390625,"wires":[["6b1a043d.890b0c"]]},{"id":"6b1a043d.890b0c","type":"function","z":"3d9174f7.78d95c","name":"pump true","func":"\nif (msg.bool==true)\n{\n    msg.system =true;\n    msg.pump = true;\n}\nreturn msg;","outputs":1,"noerr":0,"x":818.01953125,"y":519.00390625,"wires":[["5c12c8e1.88d958"]]},{"id":"b801ad0a.16c16","type":"function","z":"3d9174f7.78d95c","name":"pump false","func":"if (msg.bool==true)\n{\n        msg.system =true;\n        msg.pump = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":825.01953125,"y":569.00390625,"wires":[["5c12c8e1.88d958"]]},{"id":"7d55aa7f.1393f4","type":"debug","z":"3d9174f7.78d95c","name":"pump on","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1667.0196533203125,"y":488.00390625,"wires":[]},{"id":"c1f3483d.72c6b8","type":"poll-state","z":"3d9174f7.78d95c","name":"Garden Sprinklers","server":"cf3d678c.d4fc98","version":1,"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"switch.garden_2","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":123.01952743530273,"y":511.00392055511475,"wires":[["eca26680.88d648"]]},{"id":"52407de5.8d18b4","type":"poll-state","z":"3d9174f7.78d95c","name":"Yard Sprinklers","server":"cf3d678c.d4fc98","version":1,"updateinterval":"10","updateIntervalUnits":"seconds","outputinitially":false,"outputonchanged":true,"entity_id":"switch.yard_2","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":132.01953125,"y":583.00390625,"wires":[["eca26680.88d648"]]},{"id":"de916398.fe4ef","type":"function","z":"3d9174f7.78d95c","name":"off","func":"if (msg.bool==false)\n{\nmsg.system = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":686.01953125,"y":616.00390625,"wires":[["5c12c8e1.88d958"]]},{"id":"2ca4f03.7d55c1","type":"switch","z":"3d9174f7.78d95c","name":"Main or pump","property":"pump","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1192.01953125,"y":548.00390625,"wires":[["e1f21bfe.7462c8","b30ea89f.6c60c8"],["9e8c02d1.25695","8c15a3e4.6872e"]]},{"id":"aa269258.f3afc","type":"api-call-service","z":"3d9174f7.78d95c","name":"Main off","server":"cf3d678c.d4fc98","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.main_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1411.01953125,"y":667.00390625,"wires":[["6b95d64d.5a90c8"]]},{"id":"8c15a3e4.6872e","type":"api-call-service","z":"3d9174f7.78d95c","name":"Pump off","server":"cf3d678c.d4fc98","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.pump_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1411.01953125,"y":621.0039672851562,"wires":[["6b95d64d.5a90c8"]]},{"id":"9d9d8e1e.c3e67","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":91.01953125,"y":1397.00390625,"wires":[["4e7eee71.31793"]]},{"id":"4e7eee71.31793","type":"bigtimer","z":"3d9174f7.78d95c","outtopic":"sprinklers/cmnd/POWER4","outpayload1":"ON","outpayload2":"OFF","name":"Garden watering Timer","comment":"Garden watering Timer","lat":"-37.562160","lon":"143.850250","starttime":"0","endtime":"10030","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":"","endoff2":"","offs":"0","outtext1":"The garden Sprinklers where turned on","outtext2":"The garden Sprinklers where turned off","timeout":1440,"sun":true,"mon":false,"tue":true,"wed":false,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":false,"apr":false,"may":false,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":false,"odd":false,"even":true,"x":303.01953125,"y":1386.50390625,"wires":[["60134136.f9888"],["7b5763fd.512f8c"],["637e82d5.77c42c"]]},{"id":"78ad0957.2354a8","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":"","x":90.01953125,"y":1438.00390625,"wires":[["4e7eee71.31793"]]},{"id":"c9b4f5ff.045e58","type":"inject","z":"3d9174f7.78d95c","name":"","topic":"","payload":"Auto","payloadType":"str","repeat":"","crontab":"","once":false,"x":90.01953125,"y":1483.00390625,"wires":[["4e7eee71.31793"]]},{"id":"ab8eda99.c5a5c8","type":"switch","z":"3d9174f7.78d95c","name":"System","property":"bool","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":465,"y":556,"wires":[["9c39f6a6.34e678","2b06d0f6.c23b"],["de916398.fe4ef"]]},{"id":"2b06d0f6.c23b","type":"and-gate","z":"3d9174f7.78d95c","name":"Main","rules":[{"t":"true","propertyType":"msg","property":"bool","topic":"sprinklers/cmnd/watering"},{"t":"eq","v":"on","vt":"str","propertyType":"msg","property":"payload","topic":"switch.pump_5"}],"outputTopic":"sprinklers/cmnd/main","gateType":"and","emitOnlyIfTrue":false,"x":683,"y":570,"wires":[["b801ad0a.16c16","caaaa17f.2551c"]]},{"id":"6b95d64d.5a90c8","type":"debug","z":"3d9174f7.78d95c","name":"system off","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1638,"y":654,"wires":[]},{"id":"b30ea89f.6c60c8","type":"api-call-service","z":"3d9174f7.78d95c","name":"Main off","server":"cf3d678c.d4fc98","version":1,"service_domain":"switch","service":"turn_off","entityId":"switch.main_2","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1414,"y":508,"wires":[["7d55aa7f.1393f4"]]},{"id":"caaaa17f.2551c","type":"debug","z":"3d9174f7.78d95c","name":"pump on","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":845,"y":715,"wires":[]},{"id":"d8d065d3.060c98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cf3d678c.d4fc98","type":"server","z":"","name":"Home Assistant","legacy":false,"hassio":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":false}]
